*{
    padding: 0;
    margin: 0;

}
:root {
    --base-color: white;
    --base-variant: #e8e9ed;
    --text-color: rgb(77 107 254);
    --text-clr: black;
    --hero-gradient: linear-gradient(rgb(255, 255, 255), rgb(104, 127, 246));

}

.darkmode {
    --base-color: black;
    --base-variant: #101425;
    --text-color: rgb(77 107 254);
    --text-clr: white;
    --hero-gradient: linear-gradient(rgb(0, 0, 0), rgb(77, 77, 77));

}



header{
    background-color: 	rgb(204, 204, 204);
    margin: 0;
}
.hero {
    height: 80vh;
    padding-top: 4rem;
    text-align: center;
    background-image: var(--hero-gradient);
    transition: background-image 0.5s, background-color 0.5s;
}


/* .card{
    text-align: left;
    height: 15rem;
    width: 15rem;
    outline: none;
    box-shadow: 0 0 0 1px #f1f5f9, 0 2px 4px rgba(0, 0, 0, .05), 0 12px 24px rgba(0, 0, 0, .05);
    margin:2rem;
    padding: 10px;
    border-radius: 1rem;
} */

.text-clr{
    color: var(--text-clr);
}

body {
    background-color: var(--base-color);
    color: var(--text-color);
    transition: background-color 0.4s, color 0.4s;
}

header, footer {
    background-color: var(--base-variant);
    transition: background-color 0.4s;
}

.card {
    background-color: var(--base-color);
    color: var(--text-color);
    text-align: left;
    height: 15rem;
    width: 15rem;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 2rem;
    padding: 10px;
    border-radius: 1rem;
    overflow: hidden;
    transition-duration: 0.5s;
}

.card:hover{
    background-color: white;
    opacity: 0.8;
    transform: scale(1.1);
}


#cards-arr{
    display: flex;
    /* align-items: center; */
    justify-content: center;
    
}

/* ------------------------------- */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);

  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
/* --------------------------------- */

footer{
    height:4rem
}

